[elasticsearch]
name=Elasticsearch repository for {{ redhat_major_version }}.x packages
baseurl=https://artifacts.elastic.co/packages/{{ redhat_major_version }}.x/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=0
autorefresh=1
type=rpm-md
